# Real-world Data Wrangling

In this project, you will apply the skills you acquired in the course to gather and wrangle real-world data with two datasets of your choice.

You will retrieve and extract the data, assess the data programmatically and visually, accross elements of data quality and structure, and implement a cleaning strategy for the data. You will then store the updated data into your selected database/data store, combine the data, and answer a research question with the datasets.

Throughout the process, you are expected to:

1. Explain your decisions towards methods used for gathering, assessing, cleaning, storing, and answering the research question
2. Write code comments so your code is more readable

## 1. Gather data

In this section, you will extract data using two different data gathering methods and combine the data. Use at least two different types of data-gathering methods.

### **1.1.** Problem Statement
In 2-4 sentences, explain the kind of problem you want to look at and the datasets you will be wrangling for this project.

*FILL IN:*

### **1.2.** Gather at least two datasets using two different data gathering methods

List of data gathering methods:

- Download data manually
- Programmatically downloading files
- Gather data by accessing APIs
- Gather and extract data from HTML files using BeautifulSoup
- Extract data from a SQL database

Each dataset must have at least two variables, and have greater than 500 data samples within each dataset.

For each dataset, briefly describe why you picked the dataset and the gathering method (2-3 full sentences), including the names and significance of the variables in the dataset. Show your work (e.g., if using an API to download the data, please include a snippet of your code). 

Load the dataset programmtically into this notebook.

In [42]:
import pandas as pd
import requests
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
from fredapi import Fred
plt.style.use('fivethirtyeight')
pd.set_option('display.max_rows', 500)

#### **Dataset 1**

Type: accessing APIs 

Method: Gather data by accessing APIs from source data.lacity.org (e.g., The data was gathered using the "Downloading files" method from X source.)

Dataset variables:

*   *Variable 1 FILL IN* (e.g., H_MEAN: Mean hourly wage)
*   *Variable 2 FILL IN*

In [27]:
#FILL IN 1st data gathering and loading method
#crime data website : https://data.lacity.org/Public-Safety/Crime-Data-from-2020-to-Present/2nrs-mtv8/data_preview

data=requests.get('https://data.lacity.org/resource/2nrs-mtv8.json').json()

data_crime_2020_2024 = pd.DataFrame.from_dict(data)

#### Dataset 2

Type: *FILL IN* (e.g., CSV File.)

Method: *FILL IN* (e.g., The data was gathered using the "API" method from Y source.)

Dataset variables:

*   *Variable 1 FILL IN* (e.g., H_MEAN: Mean hourly wage)
*   *Variable 2 FILL IN*

In [28]:
#FILL IN 2nd data gathering and loading method
data_crime_2019=pd.read_csv('Crime_Data_from_2010_to_2019_20240118.csv')

Optional data storing step: You may save your raw dataset files to the local data store before moving to the next step.

In [36]:
#Optional: store the raw data in your local data store
data_crime_2020_2024.to_csv('data_crime_2024',index=False)

In [50]:
data_crime_2024=pd.read_csv('data_crime_2024')
data_crime_2024.head(20)

,dr_no,date_rptd,date_occ,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,crm_cd_desc,...,weapon_used_cd,weapon_desc,status,status_desc,crm_cd_1,location,lat,lon,crm_cd_2,cross_street
0,10304468,2020-01-08T00:00:00.000,2020-01-08T00:00:00.000,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,624,1100 W 39TH PL,34.0141,-118.2978,NaN,NaN
1,190101086,2020-01-02T00:00:00.000,2020-01-01T00:00:00.000,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,624,700 S HILL ST,34.0459,-118.2545,NaN,NaN
2,200110444,2020-04-14T00:00:00.000,2020-02-13T00:00:00.000,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,NaN,NaN,AA,Adult Arrest,845,200 E 6TH ST,34.0448,-118.2474,NaN,NaN
3,191501505,2020-01-01T00:00:00.000,2020-01-01T00:00:00.000,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,NaN,NaN,IC,Invest Cont,745,5400 CORTEEN PL,34.1685,-118.4019,998.0,NaN
4,191921269,2020-01-01T00:00:00.000,2020-01-01T00:00:00.000,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,NaN,NaN,IC,Invest Cont,740,14400 TITUS ST,34.2198,-118.4468,NaN,NaN
5,200100501,2020-01-02T00:00:00.000,2020-01-01T00:00:00.000,30,1,Central,163,1,121,"RAPE, FORCIBLE",...,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,121,700 S BROADWAY,34.0452,-118.2534,998.0,NaN
6,200100502,2020-01-02T00:00:00.000,2020-01-02T00:00:00.000,1315,1,Central,161,1,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),...,NaN,NaN,IC,Invest Cont,442,700 S FIGUEROA ST,34.0483,-118.2631,998.0,NaN
7,200100504,2020-01-04T00:00:00.000,2020-01-04T00:00:00.000,40,1,Central,155,2,946,OTHER MISCELLANEOUS CRIME,...,NaN,NaN,IC,Invest Cont,946,200 E 6TH ST,34.0448,-118.2474,998.0,NaN
8,200100507,2020-01-04T00:00:00.000,2020-01-04T00:00:00.000,200,1,Central,101,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,NaN,NaN,IC,Invest Cont,341,700 BERNARD ST,34.0677,-118.2398,998.0,NaN
9,200100509,2020-01-04T00:00:00.000,2020-01-04T00:00:00.000,2200,1,Central,192,1,330,BURGLARY FROM VEHICLE,...,306.0,ROCK/THROWN OBJECT,IC,Invest Cont,330,15TH,34.0359,-118.2648,NaN,OLIVE
10,200100510,2020-01-05T00:00:00.000,2020-01-05T00:00:00.000,955,1,Central,111,2,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,...,511.0,VERBAL THREAT,IC,Invest Cont,930,800 N ALAMEDA ST,34.0615,-118.2412,NaN,NaN
11,200100514,2020-01-05T00:00:00.000,2020-01-05T00:00:00.000,1355,1,Central,162,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,NaN,NaN,AA,Adult Arrest,341,800 S OLIVE ST,34.0452,-118.2569,NaN,NaN
12,200100515,2020-01-07T00:00:00.000,2020-01-07T00:00:00.000,1638,1,Central,162,1,648,ARSON,...,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,648,700 W 7TH ST,34.0480,-118.2577,998.0,NaN
13,200100520,2020-01-08T00:00:00.000,2020-01-08T00:00:00.000,1805,1,Central,128,1,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),...,NaN,NaN,IC,Invest Cont,442,100 S LOS ANGELES ST,34.0515,-118.2424,NaN,NaN
14,200506268,2020-02-22T00:00:00.000,2020-02-22T00:00:00.000,1900,5,Harbor,511,1,440,THEFT PLAIN - PETTY ($950 & UNDER),...,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,440,PACIFIC COAST,33.7926,-118.3043,624.0,VERMONT
15,200100535,2020-01-14T00:00:00.000,2020-01-14T00:00:00.000,1330,1,Central,152,1,210,ROBBERY,...,204.0,FOLDING KNIFE,IC,Invest Cont,210,7TH,34.0463,-118.2550,NaN,HILL
16,200100538,2020-01-14T00:00:00.000,2020-01-14T00:00:00.000,1730,1,Central,162,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,NaN,NaN,IC,Invest Cont,341,700 W 7TH ST,34.0480,-118.2577,NaN,NaN
17,200100543,2020-01-15T00:00:00.000,2020-01-15T00:00:00.000,1445,1,Central,162,1,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),...,NaN,NaN,IC,Invest Cont,442,700 W 7TH ST,34.0480,-118.2577,998.0,NaN
18,200100546,2020-01-15T00:00:00.000,2020-01-15T00:00:00.000,700,1,Central,166,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,500.0,UNKNOWN WEAPON/OTHER WEAPON,AO,Adult Other,230,600 SAN JULIAN ST,34.0428,-118.2461,NaN,NaN
19,200100552,2020-01-19T00:00:00.000,2020-01-19T00:00:00.000,2000,1,Central,111,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,500.0,UNKNOWN WEAPON/OTHER WEAPON,AA,Adult Arrest,230,ALAMEDA,34.0578,-118.2371,NaN,LOS ANGELES

In [63]:
data_crime_2024.isnull().sum()

dr_no               0
date_rptd           0
date_occ            0
time_occ            0
area                0
area_name           0
rpt_dist_no         0
part_1_2            0
crm_cd              0
crm_cd_desc         0
mocodes            73
vict_age            0
vict_sex           63
vict_descent       63
premis_cd           0
premis_desc         0
weapon_used_cd    615
weapon_desc       615
status              0
status_desc         0
crm_cd_1            0
location            0
lat                 0
lon                 0
crm_cd_2          934
cross_street      709
dtype: int64

In [49]:
data_crime_2024.crm_cd_desc.sample(20)

171             VANDALISM - MISDEAMEANOR ($399 OR UNDER)
335                             BATTERY - SIMPLE ASSAULT
511                INTIMATE PARTNER - AGGRAVATED ASSAULT
962             SHOPLIFTING - PETTY THEFT ($950 & UNDER)
480                           KIDNAPPING - GRAND ATTEMPT
114             SHOPLIFTING - PETTY THEFT ($950 & UNDER)
412                                      BRANDISH WEAPON
727                             BATTERY - SIMPLE ASSAULT
515       ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT
611                                BURGLARY FROM VEHICLE
340                                          TRESPASSING
583                   THEFT PLAIN - PETTY ($950 & UNDER)
915              LETTERS, LEWD  -  TELEPHONE CALLS, LEWD
206                   THEFT PLAIN - PETTY ($950 & UNDER)
478                                     VEHICLE - STOLEN
486             VANDALISM - MISDEAMEANOR ($399 OR UNDER)
201                INTIMATE PARTNER - AGGRAVATED ASSAULT
278    THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...
3               VANDALISM - MISDEAMEANOR ($399 OR UNDER)
411                                BURGLARY FROM VEHICLE
Name: crm_cd_desc, dtype: object

## 2. Assess data

Assess the data according to data quality and tidiness metrics using the report below.

List **two** data quality issues and **two** tidiness issues. Assess each data issue visually **and** programmatically, then briefly describe the issue you find.  **Make sure you include justifications for the methods you use for the assessment.**

### Quality Issue 1:

In [58]:
#FILL IN - Inspecting the dataframe visually
data_crime_2019.head(20)
data_crime_2019.columns

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA ', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')

In [59]:
data_crime_2024.columns

Index(['dr_no', 'date_rptd', 'date_occ', 'time_occ', 'area', 'area_name',
       'rpt_dist_no', 'part_1_2', 'crm_cd', 'crm_cd_desc', 'mocodes',
       'vict_age', 'vict_sex', 'vict_descent', 'premis_cd', 'premis_desc',
       'weapon_used_cd', 'weapon_desc', 'status', 'status_desc', 'crm_cd_1',
       'location', 'lat', 'lon', 'crm_cd_2', 'cross_street'],
      dtype='object')

In [64]:
#FILL IN - Inspecting the dataframe programmatically
print(data_crime_2019.shape)
data_crime_2019.isnull().sum()

(2023474, 28)

DR_NO                   0
Date Rptd               0
DATE OCC                0
TIME OCC                0
AREA                    0
AREA NAME               0
Rpt Dist No             0
Part 1-2                0
Crm Cd                  0
Crm Cd Desc             0
Mocodes            219375
Vict Age                0
Vict Sex           191568
Vict Descent       191612
Premis Cd              44
Premis Desc           283
Weapon Used Cd    1336951
Weapon Desc       1336951
Status                  3
Status Desc             0
Crm Cd 1               13
Crm Cd 2          1884591
Crm Cd 3          2019703
Crm Cd 4          2023376
LOCATION                0
Cross Street      1682736
LAT                     0
LON                     0
dtype: int64

In [65]:
data_crime_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2023474 entries, 0 to 2023473
Data columns (total 28 columns):
 #   Column          Dtype
---  ------          -----
 0   DR_NO           int64
 1   Date Rptd       object
 2   DATE OCC        object
 3   TIME OCC        int64
 4   AREA            int64
 5   AREA NAME       object
 6   Rpt Dist No     int64
 7   Part 1-2        int64
 8   Crm Cd          int64
 9   Crm Cd Desc     object
 10  Mocodes         object
 11  Vict Age        int64
 12  Vict Sex        object
 13  Vict Descent    object
 14  Premis Cd       float64
 15  Premis Desc     object
 16  Weapon Used Cd  float64
 17  Weapon Desc     object
 18  Status          object
 19  Status Desc     object
 20  Crm Cd 1        float64
 21  Crm Cd 2        float64
 22  Crm Cd 3        float64
 23  Crm Cd 4        float64
 24  LOCATION        object
 25  Cross Street    object
 26  LAT             float64
 27  LON             float64
dtypes: float64(8), int64(7), object(13)
memory usage: 432.3+ MB

In [33]:
data_crime_2019.describe()

,DR_NO,TIME OCC,AREA,Rpt Dist No,Part 1-2,Crm Cd,Vict Age,Premis Cd,Weapon Used Cd,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LAT,LON
count,2.023474e+06,2.023474e+06,2.023474e+06,2.023474e+06,2.023474e+06,2.023474e+06,2.023474e+06,2.023430e+06,686523.000000,2.023461e+06,138883.000000,3771.000000,98.000000,2.023474e+06,2.023474e+06
mean,1.544821e+08,1.357942e+03,1.089657e+01,1.136050e+03,1.443072e+00,5.074174e+02,3.170664e+01,3.109370e+02,371.236739,5.072137e+02,949.678794,973.540705,975.612245,3.404628e+01,-1.182492e+02
std,3.332918e+07,6.479183e+02,6.034337e+00,6.034065e+02,4.967487e-01,2.106999e+02,2.072332e+01,2.121176e+02,113.810512,2.105328e+02,124.072584,84.119005,82.814366,1.041091e+00,3.595082e+00
min,2.113000e+03,1.000000e+00,1.000000e+00,1.000000e+02,1.000000e+00,1.100000e+02,-1.200000e+01,1.010000e+02,101.000000,1.100000e+02,210.000000,93.000000,421.000000,0.000000e+00,-1.188279e+02
25%,1.217187e+08,9.300000e+02,6.000000e+00,6.350000e+02,1.000000e+00,3.300000e+02,2.000000e+01,1.020000e+02,400.000000,3.300000e+02,998.000000,998.000000,998.000000,3.401230e+01,-1.184362e+02
50%,1.521062e+08,1.430000e+03,1.100000e+01,1.144000e+03,1.000000e+00,4.420000e+02,3.200000e+01,2.100000e+02,400.000000,4.420000e+02,998.000000,998.000000,998.000000,3.406200e+01,-1.183295e+02
75%,1.815166e+08,1.900000e+03,1.600000e+01,1.656000e+03,2.000000e+00,6.260000e+02,4.600000e+01,5.010000e+02,400.000000,6.260000e+02,998.000000,998.000000,998.000000,3.417330e+01,-1.182775e+02
max,9.102204e+08,2.359000e+03,2.100000e+01,2.199000e+03,2.000000e+00,9.560000e+02,1.180000e+02,9.710000e+02,516.000000,9.990000e+02,999.000000,999.000000,999.000000,3.470600e+01,0.000000e+00

Issue and justification: *FILL IN*

### Quality Issue 2:

In [ ]:
#FILL IN - Inspecting the dataframe visually

In [ ]:
#FILL IN - Inspecting the dataframe programmatically

Issue and justification: *FILL IN*

### Tidiness Issue 1:

In [ ]:
#FILL IN - Inspecting the dataframe visually

In [ ]:
#FILL IN - Inspecting the dataframe programmatically

Issue and justification: *FILL IN*

### Tidiness Issue 2:

In [ ]:
#FILL IN - Inspecting the dataframe visually

In [ ]:
#FILL IN - Inspecting the dataframe programmatically

Issue and justification: *FILL IN*

## 3. Clean data
Clean the data to solve the 4 issues corresponding to data quality and tidiness found in the assessing step. **Make sure you include justifications for your cleaning decisions.**

After the cleaning for each issue, please use **either** the visually or programatical method to validate the cleaning was succesful.

At this stage, you are also expected to remove variables that are unnecessary for your analysis and combine your datasets. Depending on your datasets, you may choose to perform variable combination and elimination before or after the cleaning stage. Your dataset must have **at least** 4 variables after combining the data.

In [ ]:
# FILL IN - Make copies of the datasets to ensure the raw dataframes 
# are not impacted

### **Quality Issue 1: FILL IN**

In [ ]:
# FILL IN - Apply the cleaning strategy

In [ ]:
# FILL IN - Validate the cleaning was successful

Justification: *FILL IN*

### **Quality Issue 2: FILL IN**

In [ ]:
#FILL IN - Apply the cleaning strategy

In [ ]:
#FILL IN - Validate the cleaning was successful

Justification: *FILL IN*

### **Tidiness Issue 1: FILL IN**

In [ ]:
#FILL IN - Apply the cleaning strategy

In [ ]:
#FILL IN - Validate the cleaning was successful

Justification: *FILL IN*

### **Tidiness Issue 2: FILL IN**

In [1]:
#FILL IN - Apply the cleaning strategy

In [2]:
#FILL IN - Validate the cleaning was successful

Justification: *FILL IN*

### **Remove unnecessary variables and combine datasets**

Depending on the datasets, you can also peform the combination before the cleaning steps.

In [ ]:
#FILL IN - Remove unnecessary variables and combine datasets

## 4. Update your data store
Update your local database/data store with the cleaned data, following best practices for storing your cleaned data:

- Must maintain different instances / versions of data (raw and cleaned data)
- Must name the dataset files informatively
- Ensure both the raw and cleaned data is saved to your database/data store

In [ ]:
#FILL IN - saving data

## 5. Answer the research question

### **5.1:** Define and answer the research question 
Going back to the problem statement in step 1, use the cleaned data to answer the question you raised. Produce **at least** two visualizations using the cleaned data and explain how they help you answer the question.

*Research question:* FILL IN from answer to Step 1

In [ ]:
#Visual 1 - FILL IN

*Answer to research question:* FILL IN

In [ ]:
#Visual 2 - FILL IN

*Answer to research question:* FILL IN

### **5.2:** Reflection
In 2-4 sentences, if you had more time to complete the project, what actions would you take? For example, which data quality and structural issues would you look into further, and what research questions would you further explore?

*Answer:* FILL IN